@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap'); 

html{
    font-size: 100%;
}

body{
    background-image: url(../img/pattern.jpg);
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color:palevioletred;
    font-size: 1.5em;
}

header{
    text-align: center;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 3.125em;
}

#homepagelayout{
    width:100%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#closetlayout{
    padding-top: 12.5em;
    width:100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#title{
    margin-top: 0em;
    margin-bottom: 0em;
    color:palevioletred;
    font-size: 8em;
    text-align: left;
}

#instruction{
    margin-top: 1em;
    color: lightcoral;
    font-size: 5em;
    text-align: left;
}

#start{
    height: 300;
    text-align: left;
    color: lightcoral;
    font-size: 5em;
    background-color: lightblue;
    border-radius: 1.25em;
    padding: .5em;
}

a{
    text-decoration: none;
    color: #f08080
}

#head{
    background-color: lightyellow;
    border-radius: 1.25em;
    text-align: right;
    margin-bottom: 1.5em;
}

#open-closet{
    width: 45%;
    z-index: 1;
}

#open-closet img{
    width: 100%;
}

#model{
    padding-top: 5em;
}

#blue-dress {
    position: absolute;
    left: 18%; 
    top: 28%; 
    z-index: 5;
}

#blue-dress:hover {
    transform: scale(1.1);
}

#blue-model{
    padding-top: 9.375em;
}

#black-dress {
    position: absolute;
    left: 34%; 
    top: 28%; 
    z-index: 6;
}

#black-dress:hover {
    transform: scale(1.1);
}

#black-model{
    padding-top: 9.375em;
}

#pink-dress {
    position: absolute;
    left: 26%; 
    top: 27%; 
    z-index: 7;
}

#pink-dress:hover {
    transform: scale(1.1);
}

#pink-model{
    padding-top: 9.375em;
}

.finish{
    color: lightcoral;
    font-size: 3rem;
    text-align: center;
    background-color: lightblue;
    border-radius: 1.25em;
    width: 10%;
    margin: auto;
}

.again{
    color: lightcoral;
    font-size: 5rem;
    text-align: center;
    background-color: lightblue;
    border-radius: 1.25em;
    width: 18%;
    margin: auto;
}

.score{
    position: absolute;
    animation-name: score;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes score{
        from {
        right: 300px;  
        top: 1000px;
        }

        to{
            right: 300px;
            top: 100px;
        }
}

.scoretwo{
    position: absolute;
    animation-name: score;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes score-two{
    from {
    left: 100px;  
    top: 100px;
    }

    to{
        left: 100px;
        top: 1000px;
    }
}

.final{
    margin-top: 150px;
}

@media screen and (max-width 600px) {

    html{
        font-size: 100%;
    }

    #homepagelayout{
        width:100%;
        margin: auto;
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #head{
        background-color: lightyellow;
        border-radius: 1.25em;
        text-align: right;
        margin-bottom: 1.5em;
        width: 6em;
    }

    body{
        background-image: url(../img/pattern.jpg);
        font-family: "Gaegu", sans-serif;
        font-weight: 200;
        font-style: normal;
        text-align: center;
        color:palevioletred;
        font-size: 1em;
    }

    #title{
        margin-top: 0em;
        margin-bottom: 0em;
        color:palevioletred;
        font-size: 3em;
        text-align: left;
    }

}