@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap'); 

body{
    background-image: url(../img/pattern.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 1.5;
    color:palevioletred;
    font-size: 1.5rem;
}

header{
    text-align: center;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
}

#homepagelayout{
    width:100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#title{
    color:palevioletred;
    font-size: 6rem;
    text-align: left;
}

#instruction{
    color: lightcoral;
    font-size: 40pt;
    text-align: left;
}

#start{
    color: lightcoral;
    font-size: 3rem;
    text-align: center;
    background-color: lightblue;
    border-radius: 20px;
    width: 30%;
    margin: auto;
}

a{
    text-decoration: none;
    color: lightcoral
}

#head{
    text-align: right;
    background-color: lightyellow;
    border-radius: 20px;
}

#dressing{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

#open-closet{
    width: 45%;
    z-index: 1;
}

#open-closet img{
    width: 100%;
}

.finish{
    color: lightcoral;
    font-size: 3rem;
    text-align: center;
    background-color: lightblue;
    border-radius: 20px;
    width: 10%;
    margin: auto;
}

.again{
    color: lightcoral;
    font-size: 3rem;
    text-align: center;
    background-color: lightblue;
    border-radius: 20px;
    width: 18%;
    margin: auto;
}

.score{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    animation-name: score;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes score{
        from{
    left: 250px;
    top: 500px;
        }

        to{
            left: 250px;
            top: 450px;
        }
}