@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap'); 

body{
    background-image: url(../img/pattern.jpg);
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 1.5;
    color:palevioletred;
    font-size: 1.5rem;
}

header{
    text-align: center;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
}

#homepagelayout{
    width:100%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#closetlayout{
    padding-top: 200px;
    width:100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#title{
    color:palevioletred;
    font-size: 8rem;
    text-align: left;
}

#instruction{
    color: lightcoral;
    font-size: 5rem;
    text-align: left;
}

#start{
    color: lightcoral;
    font-size: 5rem;
    text-align: center;
    background-color: lightblue;
    border-radius: 20px;
    width: 150%;
    margin: auto;
}

a{
    text-decoration: none;
    color: lightcoral
}

#head{
    background-color: lightyellow;
    border-radius: 20px;
    margin-right: 150px;
}

#open-closet{
    width: 45%;
    z-index: 1;
}

#open-closet img{
    width: 100%;
}

#model{
    padding-top: 80px;
}

#blue-dress {
    position: absolute;
    left: 18%; 
    top: 28%; 
    z-index: 5;
}

#blue-dress:hover {
    transform: scale(1.1);
}

#blue-model{
    padding-top: 150px;
}

#black-dress {
    position: absolute;
    left: 34%; 
    top: 28%; 
    z-index: 6;
}

#black-dress:hover {
    transform: scale(1.1);
}

#black-model{
    padding-top: 150px;
}

#pink-dress {
    position: absolute;
    left: 26%; 
    top: 27%; 
    z-index: 7;
}

#pink-dress:hover {
    transform: scale(1.1);
}

#pink-model{
    padding-top: 150px;
}

.finish{
    color: lightcoral;
    font-size: 3rem;
    text-align: center;
    background-color: lightblue;
    border-radius: 20px;
    width: 10%;
    margin: auto;
}

.again{
    color: lightcoral;
    font-size: 5rem;
    text-align: center;
    background-color: lightblue;
    border-radius: 20px;
    width: 18%;
    margin: auto;
}

.score{
    position: absolute;
    animation-name: score;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes score{
        from {
        right: 300px;  
        top: 1000px;
        }

        to{
            right: 300px;
            top: 100px;
        }
}

.scoretwo{
    position: absolute;
    animation-name: score;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes score-two{
    from {
    left: 100px;  
    top: 100px;
    }

    to{
        left: 100px;
        top: 1000px;
    }
}

.final{
    margin-top: 150px;
}