@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap'); 

body{
    background-image: url(../img/pattern.jpg);
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 1.5;
    color:palevioletred;
    max-width: 87.5rem;
    margin: 6rem auto;
    font-size: 1.5rem;
}

header{
    text-align: center;
    margin: auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F9C9D4;
    padding-left: 500px;
    padding-right: 500px;
    border-radius: 50px;
}

#title{
    color:palevioletred;
    font-size: 6rem;
    text-align: left;
}

#instruction{
    color: lightcoral;
    font-size: 40pt;
    text-align: left;
    margin-top: 180px;
    padding-left: 80px;
}

#start{
    color: lightcoral;
    font-size: 3rem;
    text-align: left;
    background-color: lightblue;
    padding-left: 50px;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 100px;
}

a{
    text-decoration: none;
}

#head{
    text-align: right;
    background-color: lightyellow;
    border-radius: 20px;
    padding: 5px;
    margin: auto;
}

#closet{
    text-align: left;
    max-height: 300px;
    max-width: 300px;
}

.dressing{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

#open-closet{
    z-index: 1;
}